server:
  port:
    8082	
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_service
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect 
  application:
    name: User-Service
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health		
  endpoint:
    health:
      show-details: always
## configuration for circuit breaker with resilience4j
resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType:  COUNT_BASED
## configuration for retry in resilience4j
  retry:
    instances:
      ratingHotelService:
        max-attempts: 3
        wait-duration: 5s
      
## for config server
#  config:
#    import: configserver:http://localhost:8085

#eureka: // to disconnect eureka client from eureka service registery
#  client:
#    register-with-eureka: false
#    fetch-registry: false
