server:
  port: 8321
spring:
  application:
    name: Product-Service
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: system
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  client:
    service-url:
      defaulZone: http://localhost:8761/eureka
      